<launch>
<include file="$(find realsense2_camera)/launch/rs_t265.launch"/>
<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
<node name="jaguar_tf" pkg="jaguar_base" type="jaguar_tf" />
<include file="$(find boxy_base)/other/usb_cam.launch" />

<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find boxy_base)/urdf/model.xacro'"/>
<!--<node name="rviz" pkg="rviz" type="rviz" args="-d /home/arc/.rviz/default.rviz" />-->

<group ns="usb_cam">
<node name="image_proc" pkg="image_proc" type="image_proc" />
</group>

</launch>
